Django==1.10.3
PySocks==1.5.7
pymongo==3.2.1
django-debug-toolbar==1.4
django-model-utils==2.5.2
psycopg2==2.6.2
celery==3.1.20
requests==2.10.0
beautifulsoup4==4.4.1
eventlet
dnspython
isort
tldextract
fake-useragent
lxml
coverage
django-nose
